<div class="w-full h-screen px-16">
  <div class="flex justify-center items-center h-full">

    <div class="w-1/2 m-auto ">
      <img src="assets/sala/form-user.svg" class="w-84" alt="Espera">
    </div>
    <div class="w-1/2 m-auto text-right" [hidden]="next">
      <h1 class="text-6xl font-extrabold">Antes de comenzar rellene el siguiente formulario.</h1>
      <div class="flex justify-end">
        <m-button type="back" (click)="back()"> Atrás </m-button>
        <span class="px-4"></span>
        <m-button type="normal" (click)="next = true"> Siguiente </m-button>
      </div>

    </div>

    <div class="w-1/2 m-autot" [hidden]="!next">
      <form class="w-7/12 m-auto" [formGroup]="form" (ngSubmit)="onSubmit()">

        <m-f-input label="Código de Matricula" [formGroup]="form" controlName="enrollment_code"> </m-f-input>
        <m-f-input label="Pseudónimo" [formGroup]="form" controlName="nickname"> </m-f-input>
        <m-f-input label="Email" [formGroup]="form" controlName="email"> </m-f-input>
        <m-f-select label="Semestre" [formGroup]="form" controlName="semester" [dataSelect]="semesters"></m-f-select>
        <m-f-select label="Facultad" [formGroup]="form" controlName="school_id" [dataSelect]="schools"></m-f-select>

        <span class="text-red-500 italic" *ngIf="success.error || !success.invited"> {{success.message}} <br> </span>
        <div class="flex justify-between">
          <m-button type="back" (click)="next = false"> Atrás </m-button>
          <m-button type="normal" [submit]="true" [disabled]="form.invalid" > Ingresar </m-button>

        </div>

      </form>

    </div>

  </div>

  <img src="assets/sala/book-t-l.svg" class="w-64 absolute top-0 left-0 z-0">
  <img src="assets/sala/book-b-l.svg" class="w-64 absolute bottom-0 left-0 z-0">
</div>
