<modal-sala *ngIf="openModal" [codeRoom]="roomCreated.code!"></modal-sala>
<div class="w-full h-screen px-16">

  <m-h type="p-1">AGREGAR NUEVA SALA</m-h>
  <div class="w-6/12 mx-auto">
    <form class="my-2" [formGroup]="form" (ngSubmit)="onSubmit()">
      <m-f-input
        label="Descripción"
        [formGroup]="form"
        controlName="description"
        placeHolder="Ing. Sistemas - Semestre V - Salón 15"
      >
      </m-f-input>

      <span class="italic text-md font-normal text-red-500 ">Nota: Escribir los códigos de Matricula separados por coma <br></span>

      <m-f-textarea
        label="Códigos de Matricula Permitidos para esta sala"
        [formGroup]="form"
        controlName="enrollment_codes"
        placeHolder="2018100565K,2017100151M,2018100222N,..."
        letterCase="uppercase"
      ></m-f-textarea>
      <div class="flex justify-between">
        <m-button type="back" (click)="exitPage()">Atrás</m-button>
        <m-button [submit]="true" >Crear Sala</m-button>
      </div>
    </form>
  </div>
</div>
