<div class="w-screen h-screen bg-gray-800 top-0 fixed m-auto">
  <div style="background-image:url('../../../../../../assets/estudiante/celebration.svg');" class="static top-0 w-screen h-screen bg-no-repeat z-0 bg-cover bg-left-top">
  <div class="w-8/12 h-screen m-auto z-25">
    <div class="flex justify-center items-center h-full ">

      <img src="assets/sala/celebration.svg" alt="">
      <div class="text-center mx-8">
        <h2 class="text-white font-semibold text-2xl "> Tu velocidad de lectura es: <span class="font-bold"> {{result.nivel}}</span> </h2>
        <h3 class="text-white font-extrabold text-4xl my-4 "> {{ppmValue}} ppm</h3>
        <p class="text-white text-2xl "> {{result.message}}</p>
      </div>
      <div class="no-flex justify-center">
        <m-button (click)="next.emit(true)"> Siguiente </m-button>
      </div>
    </div>
  </div>
</div>

</div>
