
<div class="w-full h-screen px-16 bg-gray-800 top-0 fixed">
  <div class="w-8/12 h-screen m-auto">
    <div class="flex justify-center items-center h-full ">

      <img src="assets/sala/celebration.svg" alt="">
      <div class="text-center mx-8">
        <h2 class="text-white font-semibold text-2xl "> Tu velocidad de lectura es: </h2>
        <h3 class="text-white font-extrabold text-4xl my-4 "> 150 ppm</h3>
        <p class="text-white text-xl "> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora rerum ipsum, magnam quam quaerat hic corporis officia eligendi voluptatibus quisquam nesciunt unde facere sunt delectus exercitationem, tempore culpa dolorem fugit?</p>
      </div>
      <div class="no-flex justify-center">
        <m-button> Siguiente </m-button>
      </div>
    </div>
  </div>


</div>
