<div class="w-full h-screen px-16">

  <div class="flex-col justify-center items-center h-full w-full text-center ">
    <h1 class="text-3xl font-extrabold my-8"> Preguntas </h1>
    <div>
      <div class="font-light text-2xl w-8/12 m-auto whitespace-pre-wrap my-4">
        ¿Qué entiendes por la frase " Goldmundo, ilusorio se quemo los paradeos de tanta inmundicia?
      </div>
      <form class="w-7/12 m-auto flex-col text-left">
          <label class=" items-center">
            <input type="radio" class="form-radio" name="accountType" value="personal">
            <span class="ml-2">Personal</span>
            <br>
          </label>
          <label class=" items-center">
            <input type="radio" class="form-radio" name="accountType" value="personal">
            <span class="ml-2">Personal</span>
            <br>
          </label>
          <label class=" items-center">
            <input type="radio" class="form-radio" name="accountType" value="personal">
            <span class="ml-2">Personal</span>
            <br>
          </label>
          <label class=" items-center">
            <input type="radio" class="form-radio" name="accountType" value="personal">
            <span class="ml-2">Personal</span>
            <br>
          </label>
          <label class=" items-center">
            <input type="radio" class="form-radio" name="accountType" value="personal">
            <span class="ml-2">Personal</span>
            <br>
          </label>
        <button class="items-center flex justify-center items-center py-2 px-2"></button>

      </form>
    </div>

    <m-button> Siguiente </m-button>
  </div>

  <div class="flex-col justify-center items-center h-full w-full text-center">
    <h1 class="text-3xl font-extrabold my-8"> BLOQUE 1 : Lectura Inmersiva </h1>
    <div class="font-light text-xl flex justify-center whitespace-pre-wrap h-80">
      <youtube-player videoId="2CJMyFSy6L0" suggestedQuality="highres" [width]="500" [height]="300"[startSeconds]="4"
        [endSeconds]="100">
      </youtube-player>
    </div>

    <m-button> Siguiente </m-button>
  </div>
</div>
