<div class="w-full h-screen px-16">
  <div class="flex justify-center items-center h-full">
    <div class="w-1/2 m-auto">
      <button class="rounded bg-green-400 hover:bg-green-300 py-4 px-8 text-white text-xl font-normal flex justify-between items-center w-full shadow-xl my-4" >
        Nivel 1  : Pruebas básicas
        <img src="assets/sala/unlocked.svg" alt="Icono-desbloqueado">
      </button>
      <button class="rounded bg-green-500 py-4 px-8 text-white text-xl font-normal flex justify-between items-center w-full shadow-xl my-4" >
        Nivel 2  : Pruebas Intermedias
        <img src="assets/sala/locked.svg" alt="Icono-desbloqueado">
      </button>
      <button class="rounded bg-green-500 py-4 px-8 text-white text-xl font-normal flex justify-between items-center w-full shadow-xl my-4" >
        Nivel 3  : Pruebas Avanzadas
        <img src="assets/sala/locked.svg" alt="Icono-desbloqueado">
      </button>
    </div>
  </div>

</div>
