<div class="w-full h-screen px-8 "> <!-- bg-gradient-to-r from-green-400 to-blue-500 -->
  <div class="static h-screen w-full bg-cover bg-no-repeat bg-center" style="background-image: url('assets/index/background.svg');">
    <div class="flex ">
      <div class="w-6/12">
        <img src="assets/sala/students.svg" class="w-full h-screen p-16">
      </div>

      <div class=" font-extrabold h-screen flex items-center justify--items-center w-6/12">
        <div>
          <div class=" border-4 border-green-500 border-dotted  p-12 bg-green-50 shadow-2xl rounded-br-3xl">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-purple-600 text-6xl" >
              A veces la vida no es cuestión de aptitud, <br>   sino de <span class="text-7xl">  actitud .</span>
            </span>
          </div>

          <div class="flex-col items-center m-auto">
            <div class="m-auto mt-8">
              <img src="assets/index/chrome.svg" class="w-20 m-auto">
              <p class="text-xl font-semibold text-center text-gray-600">
                <span class="font-extrabold text-gray-900 text-5xl">
                  ¡
                    RECUERDA
                  !
                </span>
                <br> Es necesario usar Chrome
              </p>
              <div class="text-center">
                <m-button type="add" (click)="start()">Comenzar </m-button>
              </div>

            </div>

          </div>
        </div>

      </div>
      <!--
      <div class="flex-col items-center m-auto">
        <div class="m-auto">
          <img src="assets/index/chrome.svg" class="w-32 m-auto">
          <p class="text-xl font-semibold text-center text-gray-600">
            <span class="font-extrabold text-gray-900 text-5xl">
              ¡
                RECUERDA
              !
            </span>
            <br> Es necesario usar Chrome </p>
        </div>
        <div class="text-center mt-32">
          <m-button type="add" (click)="start()">Comenzar </m-button>
        </div>

      </div>
-->
    </div>

  </div>
</div>
